<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="dbConnection" connectionString="Server=MACBOOK-PRO\SQLEXPRESS01;Database=Student_Registation;Integrated Security=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>